<!DOCTYPE html>

<html lang="en">

<head>
    <%- include('./partials/head') %>
</head>

<body>
    <%- include('./partials/header') %>
    <main>
        <div class="py-4 px-4 px-md-3 px-lg-5">
            <div class="row">
                <div class="col-xl-1"></div>
                <div class="col-md-8 col-lg-8 col-xl-6 pb-4 pb-md-0 align-self-center">
                    <div class="bg-image rounded-5 shadow">
                        <img src="/portrait1.png" class="fix img-fluid v-100 fix" id="fit" loading="lazy"/>
                        <div class="mask gradient2">
                            <div class="d-flex justify-content-md-start align-items-start h-100">
                                <div class="p-3 text-white ps-md-4">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-9">
                                            <p class="pt-3 pt-md-5 outfit-font fw-bold display-1">Introducing IdolAPI
                                            </p>
                                            <p class="lh-sm">
                                                IdolAPI is an open source platform based on Idol corp., designed to facilitate
                                                learning and practicing key REST API development concepts. Our REST API offers an
                                                intuitive and accessible interface that allows developers to experiment with API
                                                design principles and make HTTP requests.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-xl-4 align-self-center">
                    <h2 class="fw-bold">Getting started:</h2>
                    <hr>
                    <div class="alert footing p-2 pt-3" role="alert">
                        <div class="hstack gap-2">
                            <div class="ms-2 ms-3">
                                <h5>First steps</h5>
                                <p style="font-size: smaller;" class="lh-sm">Want to get started with a quick tutorial
                                    to learn
                                    how to use our API?</p>
                            </div>
                            <div class="ms-auto me-3">
                                <a class="btn btn-outline-primary" href="#" role="button"><i
                                        class="ri-arrow-right-up-line fs-4"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="alert footing p-2 pt-3" role="alert">
                        <div class="hstack gap-2">
                            <div class="ms-2 me-2">
                                <h5>GraphQL</h5>
                                <p style="font-size: smaller;" class="lh-sm">Prefer to experiment with GraphQL? Access
                                    our
                                    interactive ruru console</p>
                            </div>
                            <div class="ms-auto me-3">
                                <a class="btn btn-outline-primary" href="#" role="button"><i
                                        class="ri-arrow-right-up-line fs-4"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="alert footing p-2 pt-3" role="alert">
                        <div class="hstack gap-2">
                            <div class="ms-2">
                                <h5>Fair use</h5>
                                <p style="font-size: smaller;" class="lh-sm">Check out our fair use policies for proper
                                    use of
                                    our API.</p>
                            </div>
                            <div class="ms-auto me-3">
                                <a class="btn btn-outline-primary" href="#" role="button"><i
                                        class="ri-arrow-right-up-line fs-4"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-1"></div>
        </div>

        <div class="background2">
            <div class="p-4 py-md-4 p-lg-5">
                <div class="divider d-flex align-items-center my-4">
                    <h1 class="text-center fw-bold mx-3 mb-0 outfit-font">Idol VTubers</h1>
                </div>
                <div class="row">
                <div class="col-xl-1"></div>
                <div class="col-xl-10">
                <div class="row g-0">
                    <% random.forEach(function(vtuber) { %>
                        <div class="col-sm-6 col-lg-4">
                            <div class="card mx-3 mx-sm-2 mx-md-3 mx-lg-2 mx-xl-3 footing my-3 my-lg-2 outfit-font">
                                <div class="card-body text-center">
                                    <a class="card-title fw-bold fs-2 lh-1" href="/api/vtuber/<%=vtuber._id%>"><%= vtuber.fullname %></a>
                                    <% switch (vtuber.branch) {
                                        case "EN": %>
                                        <% switch (vtuber.unit) {
                                            case "Endless": %>
                                            <h4><span class="badge rounded-pill text-bg-dark">
                                                <%= vtuber.branch %> - <%= vtuber.unit %>
                                            </span></h4>
                                            <% break; %>
                                            <% case "E-Sekai": %>
                                            <h4><span class="badge rounded-pill text-bg-primary">
                                                <%= vtuber.branch %> - <%= vtuber.unit %>
                                            </span></h4>
                                            <% break; %>
                                            <% case "GENESIS": %>
                                            <h4><span class="badge rounded-pill text-bg-success">
                                                <%= vtuber.branch %> - <%= vtuber.unit %>
                                            </span></h4>
                                            <% break; %>
                                            <% case "Project: STAR": %>
                                            <h4><span class="badge rounded-pill text-bg-warning">
                                                <%= vtuber.branch %> - <%= vtuber.unit %>
                                            </span></h4>
                                            <% break; %>
                                        <% } %>
                                        <% break %>
                                        <% case "ES": %>
                                        <% if (vtuber.unit === "EternalS") { %>
                                        <h4><span class="badge rounded-pill text-bg-info">
                                            <%= vtuber.branch %> - <%= vtuber.unit %>
                                        </span></h4>
                                        <% } %><% break; %>
                                        <% case "HE": %>
                                        <h4><span class="badge rounded-pill text-bg-danger">
                                            <%= vtuber.branch %> - <%= vtuber.unit %>
                                        </span></h4><% break; %>
                                    <% } %>
                                    <p class="lh-sm">
                                    <% if (vtuber.quote === null ) { %>
                                    <p class="fst-italic">No description</p>
                                    <% } else { %>
                                    <p class="lh-1"><%= vtuber.quote %></p>
                                    <% } %>
                                    </p>
                                    <div class="py-2">
                                        <span class="badge rounded-pill text-bg-secondary"><%= vtuber.hashtag.general %></span>
                                        <span class="badge rounded-pill text-bg-secondary"><%= vtuber.hashtag.stream %></span>
                                        <span class="badge rounded-pill text-bg-secondary"><%= vtuber.hashtag.fanart %></span>
                                        <span class="badge rounded-pill text-bg-secondary"><%= vtuber.hashtag.memes %></span>
                                    </div>
                                    <img src="/<%= vtuber.avatar%>" width="180" height="180" class="v-100 h-100 img-fluid rounded-circle" id="fit2" />
                                    <div class="lh-sm mt-3">
                                        <div class="hstack gap-3">
                                            <div class="me-0">
                                                <% switch (vtuber.gender) {
                                                    case "Female": %>
                                                    <%= gender.title %>: <i class="ri-women-line"></i>
                                                    <% break; %>
                                                    <% case "Male": %>
                                                    <%= gender.title %>: <i class="ri-men-line"></i>
                                                    <% break; %>
                                                <% } %>
                                            </div>
                                            <div class="ms-auto">
                                                <i class="ri-cake-2-line"></i>: <%= vtuber.birthday %>
                                            </div>
                                        </div>
                                        <div class="hstack gap-3">
                                            <div>
                                                <i class="ri-sparkling-2-line me-1"></i> <%= zodiac.title %>:
                                                <% switch (vtuber.zodiac) {
                                                    case "Aries": %> <%= zodiac.aries %> <% break; %>
                                                    <% case "Taurus": %> <%= zodiac.taurus %> <% break; %>
                                                    <% case "Gemini": %> <%= zodiac.gemini %> <% break; %>
                                                    <% case "Cancer": %> <%= zodiac.cancer %> <% break; %>
                                                    <% case "Leo": %> <%= zodiac.leo %> <% break; %>
                                                    <% case "Virgo": %> <%= zodiac.virgo %> <% break; %>
                                                    <% case "Libra": %> <%= zodiac.libra %> <% break; %>
                                                    <% case "Scorpio": %> <%= zodiac.scorpio %> <% break; %>
                                                    <% case "Sagittarius": %> <%= zodiac.sagittarius %> <% break; %>
                                                    <% case "Capricorn": %> <%= zodiac.capricorn %> <% break; %>
                                                    <% case "Aquarius": %> <%= zodiac.aquarius %> <% break; %>
                                                    <% case "Piscis": %> <%= zodiac.piscis %> <% break; %>
                                                    <% default: %> <%= zodiac.other %> <% break; %>
                                                <% } %>
                                            </div>
                                            <div class="ms-auto">
                                                <i class="ri-expand-height-line"></i>: <%= vtuber.height %> m
                                            </div>
                                        </div>
                                        <i class="ri-team-line"></i>: <%= vtuber.fanname %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                </div>
                </div>
                <div class="col-xl-1"></div>
            </div>
            </div>
        </div> 
    </main>

    <%- include('./partials/footer') %>
    <%- include('./partials/scripts') %>
</body>

</html>